:root {
	--dark-mode-elements: hsl(209, 23%, 22%);
	--dark-mode-bg: hsl(209, 26%, 17%);
	--light-mode-elements: hsl(0, 0%, 98%);
	--light-mode-bg: hsl(0, 0%, 90%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	background-color: var(--light-mode-bg);
	min-height: 100vh;
	height: 100%;
}

.app.darkMode {
	background-color: var(--dark-mode-bg);
	color: #fff;
}

.app_body {
	margin: 15px auto 0;
	padding: 15px;
	max-width: 100vw;
}

.header {
	padding: 15px;
	background: white;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.header.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100vw;
	margin: 0 auto;
}

.logo {
	letter-spacing: 1px;
}

.switch_mode {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	cursor: pointer;
	user-select: none;
}

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0 20px 0;
}

.search_input {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	width: 300px;
	padding: 5px;
	border-radius: 5px;
	gap: 5px;
	transition: 0.3s;
}

.search_input.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.search_input.darkMode:hover {
	background-color: rgba(245, 245, 245, 0.616);
	box-shadow: 0px 3px 15px rgba(248, 248, 248, 0.226);
}

input {
	width: 100%;
	padding: 3px;
	border: none;
	background-color: transparent;
	outline: none;
	font-size: 18px;
	letter-spacing: 2px;
	color: #000000;
}

.alphabetically-button {
	display: flex;
	padding: 11px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.alphabetically-button:hover {
	background-color: rgba(173, 173, 173, 0.616);
	color: #424242;
}

.alphabetically-button.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.alphabetically-button.darkMode:hover {
	background-color: rgba(245, 245, 245, 0.616);
	box-shadow: 0px 3px 15px rgba(248, 248, 248, 0.226);
	color: #424242;
}

select {
	padding: 5px;
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: bold;
}

.useful-buttons {
	display: flex;
}

.search-btn {
	border: none;
	background-color: transparent;
	outline: none;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	padding: 11px;
	letter-spacing: 2px;
	border-radius: 5px;
	gap: 5px;
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;
}

.search-btn:hover {
	background-color: rgba(173, 173, 173, 0.616);
	color: #424242;
}

.search-btn.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.search-btn.darkMode:hover {
	background-color: rgba(245, 245, 245, 0.616);
	box-shadow: 0px 3px 15px rgba(248, 248, 248, 0.226);
	color: #1f1f11;
}

.reset-btn {
	border: none;
	background-color: transparent;
	outline: none;
	border-radius: 5px;
	gap: 5px;
	cursor: pointer;
	transition: 0.3s;
}

.reset-btn:hover {
	background-color: rgba(173, 173, 173, 0.247);
	color: #424242;
}

.reset-btn.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.reset-btn.darkMode:hover {
	background-color: rgba(245, 245, 245, 0.616);
	box-shadow: 0px 3px 15px rgba(248, 248, 248, 0.226);
	color: #1f1f11;
}

.countries {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100vw;
	padding: 15px;
	gap: 35px;
}

.country {
	background-color: #fff;
	width: 205px;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	height: 270px;
	transition: 0.4s;
	cursor: pointer;
}

.country:hover {
	transform: scale(1.1);
}

.country.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.flag_container {
	display: flex;
	flex-direction: column;
	height: 170px;
	width: 100%;
}

.img_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name {
	margin-bottom: 10px;
	text-align: center;
}

.country .values {
	color: gray;
}

.country .values.app.darkMode {
	color: lightgray;
}

.details {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	padding: 0 10px 0 10px;
	font-size: 14px;
}

p {
	margin-bottom: 20px;
}

span {
	margin-left: 10px;
}

.country_details {
	margin: 15px auto 0;
	padding: 15px;
	max-width: 100vw;
}

.back {
	background-color: #fff;
	border: none;
	outline: none;
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	margin-bottom: 25px;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 15px 10px 0;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.back:hover {
	background-color: rgba(173, 173, 173, 0.616);
	color: #424242;
}

.back.darkMode {
	background-color: var(--dark-mode-elements);
	color: #fff;
}

.back.darkMode:hover {
	background-color: rgba(245, 245, 245, 0.616);
	box-shadow: 0px 3px 15px rgba(248, 248, 248, 0.226);
	color: #000000;
}

.country_details_body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px auto 0;
	padding: 15px;
	max-width: 100vw;
	gap: 40px;
}

.img_container {
	flex: 0.5;
}

.img_container img {
	width: 100%;
	object-fit: cover;
}

.info {
	flex: 0.5;
}

.info.darkMode {
	color: #fff;
}

.details_name {
	margin-bottom: 40px;
}

.info .values {
	color: gray;
}

.info .values.darkMode {
	color: lightgray;
}

.info_container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	margin-bottom: 45px;
}

.monit {
	margin-top: 30vh;
	letter-spacing: 2px;
	font-size: 24px;
	font-weight: bold;
}

.pagination_container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-weight: bold;
	font-size: 15px;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	height: 40px;
	width: 140px;
	text-decoration: none;
	transition: background-color 0.2s;
	border: 3px solid rgb(0, 0, 0);
	cursor: pointer;
}

@media (max-width: 800px) {
	.country_details_body {
		flex-direction: column;
	}

	.info_container {
		flex-direction: column;
		align-items: flex-start;
	}

	.left_info {
		margin-bottom: 20px;
	}
}

@media (max-width: 720px) {
	.inputs {
		flex-direction: column;
		margin-bottom: 15px;
	}

	.search_input {
		margin-bottom: 20px;
	}

	.switch_mode {
		font-size: 12px;
		flex: 0.5;
		justify-content: flex-end;
	}

	.logo {
		flex: 0.5;
		font-size: 17px;
	}
}
